.elementor-7981 .elementor-element.elementor-element-40d7c035.column-bg-skew-right{padding-right:40px;}.elementor-7981 .elementor-element.elementor-element-40d7c035.column-bg-skew-left{padding-left:40px;}.elementor-7981 .elementor-element.elementor-element-23c3d0f7{color:#7a7a7a;font-family:"Calbri", Sans-serif;font-size:19px;font-weight:400;line-height:28px;}.elementor-7981 .elementor-element.elementor-element-3f7fbc6e.column-bg-skew-right{padding-right:40px;}.elementor-7981 .elementor-element.elementor-element-3f7fbc6e.column-bg-skew-left{padding-left:40px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Calbri';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2019/12/Calibri-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */