.elementor-8871 .elementor-element.elementor-element-cce01bc.column-bg-skew-right{padding-right:40px;}.elementor-8871 .elementor-element.elementor-element-cce01bc.column-bg-skew-left{padding-left:40px;}.elementor-8871 .elementor-element.elementor-element-7d0392a{color:#7a7a7a;font-family:"Calbri", Sans-serif;font-size:19px;font-weight:400;line-height:28px;}.elementor-8871 .elementor-element.elementor-element-61afa51{color:#7a7a7a;font-family:"Calbri", Sans-serif;font-size:19px;font-weight:400;line-height:28px;}.elementor-8871 .elementor-element.elementor-element-bfc60a6{color:#7a7a7a;font-family:"Calbri", Sans-serif;font-size:19px;font-weight:400;line-height:28px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Calbri';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2019/12/Calibri-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */