.elementor-8077 .elementor-element.elementor-element-ff850b0.column-bg-skew-right{padding-right:40px;}.elementor-8077 .elementor-element.elementor-element-ff850b0.column-bg-skew-left{padding-left:40px;}.elementor-8077 .elementor-element.elementor-element-b914166{font-size:19px;font-weight:400;line-height:28px;}.elementor-8077 .elementor-element.elementor-element-fae15a2{font-family:"Calbri", Sans-serif;font-size:19px;font-weight:400;line-height:28px;}.elementor-8077 .elementor-element.elementor-element-a4979df{font-family:"Calbri", Sans-serif;font-size:19px;line-height:28px;}.elementor-8077 .elementor-element.elementor-element-5fb85e9{font-size:19px;font-weight:400;line-height:28px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Calbri';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2019/12/Calibri-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */